:root {
    --color1: #4D2319;
    --color2: #7A4C1A;
    --color3: #FCFCE3;
    --color4: #A2D46B;
    --color5: #332824;
}

.owner-nav {
    height: 5vh;
    background-color: var(--color4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
}
.owner-nav > div {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.owner-nav > div > a {
    text-decoration: none;
    background-color: var(--color2);
    color: var(--color3);
    padding: 7px 10px;
}
.owner-approve {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}
.owner-approve-list {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.approve-list-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.approve-list-column {
    border: 1px solid black;
    width: 250px;
    text-align: center;
    padding: 20px 20px;
}
.approve-list-column > a {
    text-decoration: none;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    font-weight: 700;
}
.approve-list-column > a:first-child {
    background-color: rgb(0, 140, 255);
}
.approve-list-column > a:last-child {
    background-color: rgb(255, 30, 0);
}